<!DOCTYPE html>
<html lang="en">
@using BlogPageMVC.Security
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <style>
        header.group.top-nav {
            width: 800px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        #container {
            min-height: 100%;
            position: relative;
        }

        #header {
        }

        #body {
        }

        #footer {
        }
    </style>
    <link href="~/Content/Tag.css" rel="stylesheet" />
    <script src="~/Scripts/alertify.min.js"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/css/kube.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="~/Image/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>

@*<body style="background-color: #f9f9f9;">*@
<body style="background-color: #f2f2f2;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

    <div id="container">
        <div id="header">
            <div class="main-nav" style="padding-left:150px;padding-right:150px">
                <div class="container-fluid">
                    <header class="group top-nav" style="width:auto">
                        <nav class="navbar logo-w navbar-left">
                            <a class="logo" href="@Url.Action("Index","Home")">Blog ...</a>
                        </nav>
                        <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
                            <span class="logo">Saturn</span>
                        </div>

                        <nav id="navbar-1" class="navbar item-nav navbar-right">
                            <ul>
                                <li id="liHome"><a href="@Url.Action("Index","Home")">Home</a></li>
                                @if(@SessionPersister.UserName == "admin" || @SessionPersister.UserName == "toanpn")
                                {
                                    <li id="liCreate"><a href="@Url.Action("Create","Posts")">Create</a></li>
                                    <li id="liManager"><a href="@Url.Action("ManagerPost","Home")">Posts</a></li>
                                    <li id="liCategory"><a href="@Url.Action("Index","Categories")">Category</a></li>
                                    <li id="liTag"><a href="@Url.Action("Index","Tags")">Tag</a></li>
                                }

                                <li id="liAbout"><a href="@Url.Action("Index","About")"> Ablout</a></li>
                                <li id="liContact"><a href="@Url.Action("Index","Contact")">Contact</a></li>

                                @if(@SessionPersister.UserName != "admin" && @SessionPersister.UserName != "toanpn")
                                {
                                    <li id="liLogin"><a href="@Url.Action("Index", "Account")">Login</a></li>
                                }
                                @if(@SessionPersister.UserName == "admin" || @SessionPersister.UserName == "toanpn")
                                {
                                    <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                                }
                            </ul>

                        </nav>

                    </header>
                </div>
            </div>
        </div>
        <div id="body" style="min-height: 500px ">
            @RenderBody()
        </div>
        <div id="footer">
            <footer style="background: #fff">
                <div class="container">
                    <div class="row" style="padding-top:15px">
                        <div class="col-6 text-center">
                            @RenderSection("button", required: false)
                        </div>
                        <div class="col-6 text-center">
                            <ul class="social list-flat">
                                <li><a href="#"><i class="fa fa-send"></i></a></li>
                                <li><a href="https://www.facebook.com/toanpnull"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/hsgsneiger"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jeremy-pham/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                            
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p class="foot-cp">
                                <a href="#">trở về đầu trang</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/Scripts/js/jquery.min.js"></script>
    @*<script src="~/Scripts/js/kube.min.js"></script>*@
    <script src="~/Scripts/js/kube.js"></script>
    <!-- Javascript -->
    @*<script src="js/jquery.min.js"></script>
        <script src="js/kube.min.js"></script>*@


    <script>

        // check local store has value "user-name" ? if valid return user name, else return ''
        function getUserName() {
            let userName = localStorage.getItem('user-name');
            return userName == 'null' ? userName : ''
        }

        // jQuery
        $(function () {
            if (getUserName() != '') {

            }
        })
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>