@using BlogPageMVC.Models;
@model IEnumerable<tbCategory>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table  class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Danh sách danh mục</h4>
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Lượt Xem</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(tbCategory tbCategory in Model)
                        {
                            <tr>

                                <td>@tbCategory.id</td>
                                <td>@tbCategory.Name</td>
                                <td>@tbCategory.Views</td>
                                <td>
                                    <div>
                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm btnDelete" type="button" data-toggle="modal" data-id="@tbCategory.id" data-target="#DeleteModal" data-placement="bottom" title="Tooltip on bottom">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix">
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><i class="fas fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá Danh Mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xoá danh mục khỏi tất cả các bài viết.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary CancelDelete" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary Delete">Xoá</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Xoá danh mục khỏi tất cả các bài viết.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
<script>
    $(function () {
        
        
        var idTemp = 0;
        $(".btnDelete").click(function (e) {
            idTemp = $(this).data('id');
        });
        $(".Delete").click(function () {
            var token = $('[name=__RequestVerificationToken]').val();
            $.ajax({
                url: '/Categories/Delete',
                type: 'POST',
                data: { __RequestVerificationToken: token, id: idTemp },
                success: function () {
                    alertify.success('Xoá thành công');
                    $(".CancelDelete").trigger("click");
                    location.reload(true);
                },
                error: function () {
                   
                }
            })
        })
    })
</script>

